# YOLO model
src/chicken_monitoring/assets/model/*

# Except csv file in datasets
!src/chicken_monitoring/assets/datasets/*.csv

src/chicken_monitoring/assets/datasets/images/*

# Virtual env
.venv

# src/chicken_monitoring/images_inference
